In [29]:
import matplotlib.pyplot as plt; import numpy as np; import netCDF4; from netCDF4 import Dataset
import pandas as pd; import numpy.ma as ma; import time as timeit; import os; import math
import itertools; import scipy.io; import mat73; import collections
import cartopy; import cartopy.crs as ccrs
from cartopy.mpl.gridliner import LONGITUDE_FORMATTER, LATITUDE_FORMATTER
from matplotlib.ticker import FuncFormatter
from matplotlib.ticker import AutoMinorLocator; from matplotlib.ticker import FixedLocator
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon
%matplotlib inline
import statistics; import xarray as xr; import matplotlib as mpl; import gsw

In [44]:
newt = [['', '', '42.20', '', '', '70.50'], ['', '', '42.00', '', '', '70.00'], ['', '', '41.10', '', '', '69.00'], ['', '', '41.80', '', '', '68.00'], ['', '', '44.20', '', '', '68.00'], ['', '', '43.90', '', '', '69.00'], ['', '', '43.70', '', '', '70.00'], ['', '', '43.00', '', '', '70.50'], ['', '', '42.20', '', '', '70.50']]
lon_t = []; lat_t = []
for i in range(9): 
    t1 = newt[i][2]
    lat_t.append(t1)
    t3 = newt[i][5]
    lon_t.append(t3)
lonlist_t = [float(i) for i in lon_t]; latlist_t = [float(i) for i in lat_t]
df_t = pd.DataFrame({'lon': lonlist_t, 'lat': latlist_t,})
lonlist_t_plot = [float(i)*-1 for i in lon_t]; latlist_t = [float(i) for i in lat_t]
df_t_plot = pd.DataFrame({'lon': lonlist_t_plot, 'lat': latlist_t,})
x_t = df_t_plot['lon']; y_t = df_t_plot['lat']

lonlist_tneg = [float(i)*-1 for i in lon_t]
df_t_plottable = pd.DataFrame({'lon': lonlist_tneg, 'lat': latlist_t,})
polygon_t = Polygon(df_t.values)

In [30]:
# temperature from here
jan = pd.read_csv('01_finaldataset.csv'); feb = pd.read_csv('02_finaldataset.csv')
march = pd.read_csv('03_finaldataset.csv'); april = pd.read_csv('04_finaldataset.csv')
may = pd.read_csv('05_finaldataset.csv'); june = pd.read_csv('06_finaldataset.csv')
july = pd.read_csv('07_finaldataset.csv'); aug = pd.read_csv('08_finaldataset.csv')
sept = pd.read_csv('09_finaldataset.csv'); octob = pd.read_csv('10_finaldataset.csv')
nov = pd.read_csv('11_finaldataset.csv'); dec = pd.read_csv('12_finaldataset.csv')

In [31]:
winter = [dec, jan, feb]; spring = [march, april, may]; summer = [june, july, aug]; fall = [sept, octob, nov]
winter_concat = pd.concat(winter); winter_reset = winter_concat.reset_index()
spring_concat = pd.concat(spring); spring_reset = spring_concat.reset_index()
summer_concat = pd.concat(summer); summer_reset = summer_concat.reset_index()
fall_concat = pd.concat(fall); fall_reset = fall_concat.reset_index()

In [37]:
print(len(winter_reset))
winter_reset_no5 = winter_reset[winter_reset['003densmld'] > 5]  
print(len(winter_reset_no5))
winter_reset_no55 = winter_reset_no5[winter_reset_no5['02tempmld'] > 5]  
print(len(winter_reset_no55))

4199
3988
3938

In [38]:
print(len(spring_reset))
spring_reset_no5 = spring_reset[spring_reset['003densmld'] > 5]  
print(len(spring_reset_no5))
spring_reset_no55 = spring_reset_no5[spring_reset_no5['02tempmld'] > 5]  
print(len(spring_reset_no55))

11320
9787
9668

In [41]:
print(len(march))
march_no5 = march[march['003densmld'] > 5]  
print(len(march_no5))
march_no55 = march_no5[march_no5['02tempmld'] > 5]  
print(len(march_no55))

3566
3153
3099

In [42]:
print(len(april))
april_no5 = april[april['003densmld'] > 5]  
print(len(april_no5))
april_no55 = april_no5[april_no5['02tempmld'] > 5]  
print(len(april_no55))

3956
3689
3660

In [63]:
print(len(feb))
feb_no5 = feb[feb['003densmld'] > 5]  
print(len(feb_no5))
feb_no55 = feb_no5[feb_no5['02tempmld'] > 5]  
print(len(feb_no55))

3001
2845
2804

In [46]:
print(march_no55)

      Unnamed: 0  001densmld                              location  obs_lat  \
0              0         7.0          (1993, 73.8133, 38.1917, 68)  38.1917
1              1        10.0           (1993, 74.045, 38.1517, 68)  38.1517
2              2        10.0            (1993, 74.0467, 37.98, 68)  37.9800
3              3        23.0            (1993, 74.3867, 37.81, 69)  37.8100
4              4         5.0          (1993, 74.4817, 37.6883, 69)  37.6883
...          ...         ...                                   ...      ...
3534        3534         NaN          (2014, 67.5133, 41.3617, 63)  41.3617
3535        3535         NaN              (2014, 68.0, 41.165, 63)  41.1650
3536        3536         NaN            (2014, 73.9167, 39.43, 78)  39.4300
3537        3537         NaN          (2014, 73.8717, 39.6483, 78)  39.6483
3538        3538         NaN  (2015, 75.17833333333333, 36.29, 79)  36.2900

        obs_lon  bottomdepth    year  date_no  003densmld  02tempmld
0     73.813300        117.0  1993.0     68.0        11.0       14.0
1     74.045000         78.0  1993.0     68.0        29.0       54.0
2     74.046700        117.0  1993.0     68.0        13.0       26.0
3     74.386700         59.0  1993.0     69.0        23.0       59.0
4     74.481700         63.0  1993.0     69.0         9.0       63.0
...         ...          ...     ...      ...         ...        ...
3534  67.513300         38.0  2014.0     63.0        38.0       38.0
3535  68.000000         43.0  2014.0     63.0        43.0       43.0
3536  73.916700         29.0  2014.0     78.0        29.0       29.0
3537  73.871700         28.0  2014.0     78.0        28.0       28.0
3538  75.178333         38.0  2015.0     79.0        38.0       38.0

[3099 rows x 10 columns]

In [66]:
season = feb #spring_list_reindex
variable = '003densmld'

lonlist_t = []; latlist_t = []; diff_t= [] ; year_list = []

newdf = pd.DataFrame({'lon': list(season['obs_lon']),'lat': list(season['obs_lat'])})  
for ii in range(len(season)):
    new = newdf.iloc[ii].values
    point = Point(new)
    if polygon_t.contains(point) == True and (season[variable][ii]>5) and (season['02tempmld'][ii]>5): #and (season['bottomdepth'][ii]<=200) 
        diff_t.append(season['02tempmld'][ii]-season['003densmld'][ii])
        lonlist_t.append(season['obs_lon'][ii])
        latlist_t.append(season['obs_lat'][ii])
        year_list.append(season['year'][ii])
    
pandasnew_t = pd.DataFrame({'diff': diff_t, 'lon':lonlist_t, 'lat':latlist_t, 'year': year_list})

In [67]:
pandasnew_tyear = pandasnew_t.groupby('year').mean()
print(np.mean(pandasnew_tyear['diff']))
print(pandasnew_tyear)

6.06820901801696
             diff        lon        lat
year
1995.0   0.000000  68.700850  41.546700
1996.0  59.000000  68.506850  41.625600
1997.0   1.307692  68.491815  41.658223
1998.0   1.571429  68.536800  41.603471
1999.0  19.100000  68.863340  41.796130
2005.0   0.000000  68.861700  41.231700
2007.0 -13.625000  68.690625  43.143738
2008.0  -1.608696  69.053913  42.812352
2009.0   8.315789  69.028068  42.569116
2010.0  -2.785714  69.888454  42.471493
2011.0   6.315789  69.482766  42.571053
2012.0   8.000000  69.325838  42.428825
2013.0   1.000000  69.261147  42.979121
2017.0  -1.636364  69.039242  41.952727

In [50]:
print(pandasnew_t)

     diff      lon      lat    year
0    11.0  68.3280  41.8600  1995.0
1    -2.0  68.4420  41.5950  1995.0
2   -17.0  68.3630  42.3170  1995.0
3     1.0  68.0067  41.8300  1996.0
4     0.0  68.1817  41.7267  1996.0
..    ...      ...      ...     ...
156   1.0  69.4983  42.7533  2014.0
157  -3.0  69.6667  42.5050  2014.0
158   0.0  70.2833  42.3150  2014.0
159   4.0  70.0150  42.2500  2014.0
160   0.0  70.0700  42.1100  2004.0

[161 rows x 4 columns]

In [40]:
print(len(summer_reset))
print(summer_reset)
summer_reset_no5 = summer_reset[summer_reset['003densmld'] > 5]  
print(len(summer_reset_no5))
summer_reset_no55 = summer_reset_no5[summer_reset_no5['02tempmld'] > 5]  
print(len(summer_reset_no55))

7880
      index  Unnamed: 0  001densmld                       location  obs_lat  \
0         0           0         5.0   (1993, 66.055, 41.7683, 156)  41.7683
1         1           1         5.0  (1993, 66.6733, 40.9567, 163)  40.9567
2         2           2         7.0    (1993, 68.01, 40.4967, 175)  40.4967
3         3           3         9.0   (1993, 68.0667, 40.315, 175)  40.3150
4         4           4         5.0  (1993, 68.2717, 40.5217, 176)  40.5217
...     ...         ...         ...                            ...      ...
7875   3476        3476         NaN     (2004, 69.99, 40.915, 235)  40.9150
7876   3477        3477         NaN  (2005, 69.6617, 42.5017, 232)  42.5017
7877   3478        3478         NaN    (2008, 67.48, 42.3517, 237)  42.3517
7878   3479        3479         NaN  (2009, 72.4083, 39.5433, 238)  39.5433
7879   3480        3480         NaN  (2009, 67.5533, 40.9367, 237)  40.9367

      obs_lon  bottomdepth    year  date_no  003densmld  02tempmld
0     66.0550         97.0  1993.0    156.0         6.0        7.0
1     66.6733         94.0  1993.0    163.0         5.0        5.0
2     68.0100        120.0  1993.0    175.0        10.0       15.0
3     68.0667        184.0  1993.0    175.0        11.0       15.0
4     68.2717         91.0  1993.0    176.0         7.0       16.0
...       ...          ...     ...      ...         ...        ...
7875  69.9900         29.0  2004.0    235.0         NaN        7.0
7876  69.6617        239.0  2005.0    232.0         NaN       10.0
7877  67.4800        308.0  2008.0    237.0         NaN        5.0
7878  72.4083        545.0  2009.0    238.0         NaN       11.0
7879  67.5533         71.0  2009.0    237.0         NaN        5.0

[7880 rows x 11 columns]
4718
4678

In [ ]:
print(len(summer_reset))
summer_reset_no5 = summer_reset[summer_reset['003densmld'] > 5]  
print(len(summer_reset_no5))
summer_reset_no55 = summer_reset_no5[summer_reset_no5['02tempmld'] > 5]  
print(len(summer_reset_no55))